.textarea {
    width: 100%;
    padding: 7px 15px;
    color: var(--black);
    border: none;
    outline-color: var(--primary);
    background-color: var(--white);
    border-radius: 5px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.05);
    font-size: 16px;
    line-height: 22px;
    font-family: var(--font-family);
    resize: none;
    min-height: 76px;
}

.textarea::placeholder {
    color: var(--gray);
}

.textareaWrapper {
    position: relative;
}

.error {
    border-color: var(--red);
}

.errorMessage {
    color: var(--red);
    position: absolute;
    bottom: -15px;
    left: 0;
}